<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header include -->
<head th:replace="fragments/header :: header">
</head>
<!-- script : s -->
<script th:inline="javascript">
    // 수취 금액 계산
    function calculate() {
        let receivingCountry = $('#receivingCountry option:selected').val();
        let remittanceMoney = $('#remittanceMoney').val();

        let data = {
            "receivingCountry" : receivingCountry,
            "remittanceMoney" : remittanceMoney,
        }

        if(validateToCalculating(remittanceMoney)) {
            $.ajax({
                type: "POST",
                url: `/exchangeRates/`,
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(data),
                dataType: "json"
            }).done(function (response) {
                let result = '수취금액은' + response.receipts + ' ' + response.currency + ' 입니다.';
                document.getElementById("receivedAmountDiv").textContent=result;
            }).fail(function (error) {
                if(typeof error.responseJSON.message != 'undefined') {
                    alert(error.responseJSON.message);
                } else {
                    alert(error.responseJSON.errors[0].reason);
                }
            });
        }
    }

    // 통화에 해당하는 환율 조회
    function findExchangeRateByCurrency() {
        let receivingCountry = $('#receivingCountry option:selected').val();

        $.ajax({
            type: "GET",
            url: `/exchangeRates/`+receivingCountry,
            headers: {'Content-Type': 'application/json'},
            dataType: "json"
        }).done(function (response) {
            let result = response.exchangeRates + " " + response.currency + "/" + response.source;
            document.getElementById("countryExchangeRate").textContent=result;
        }).fail(function (error) {
            if(typeof error.responseJSON.message != 'undefined') {
                alert(error.responseJSON.message);
            } else {
                alert(error.responseJSON.errors[0].reason);
            }
        });
    }

    // 송금액에 대한 환율을 계산하기 위한 검증
    function validateToCalculating(remittanceMoney) {
        if(isBlank(remittanceMoney)) {
            alert('송금액이 바르지 않습니다.');
            return false;
        }

        let money = parseInt(remittanceMoney);
        if(money <= 0 || money > 10000) {
            alert('송금액은 1원 이상 10000원 이하만 가능합니다.');
            return false;
        }

        return true;
    }
</script>
<!-- script : e -->

<body>

<!-- container : s -->
<div class="container">
    <div class="header" th:fragment="bodyHeader">
        <h2 class="text-muted">환율 계산</h2>
    </div>

    <form role="form" action="/exchangeRates/calculate" th:object="${exchangeRateForm}" method="post" id="exchangeRateCalculationForm">
        <div class="form-group">
            송금국가 : 미국(USD)
        </div>
        <div class="form-group">
            수취국가 :
            <select id="receivingCountry" name="receivingCountry" th:onchange="'javascript:findExchangeRateByCurrency()'">
                <option th:each="country : ${receivingCountries}" th:value="${country.getCurrency().name()}" th:text="|${country.getCountryName()} (${country.getCurrency().name()})|"></option>
            </select>
        </div>
        <div class="form-group" id="exchangeRateDiv">
            환율 : <span id="countryExchangeRate" th:text="|${krwExchangeRate} KRW/USD|"></span>
        </div>
        <div class="form-group">
            <label th:for="remittanceMoney">송금액</label>
            <input type="text" id="remittanceMoney" class="form-control" placeholder="송금액을 입력하세요">
            USD
        </div>
        <a href="#submit" th:onclick="'javascript:calculate()'">Submit</a>
    </form>

    <br/>

    <div id="receivedAmountDiv"></div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container : e -->

</body>
</html>